<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Encounters Counter Summary <%= @user %></h1>
<p>
 Attached is your summary.
</p>

<p>Thanks for using Encounters Counter have a great day!</p>
</body>
</html>