<div>
  <div page-header title="Profile"></div>
  <!-- render 'layouts/flash_messages' -->

    <!-- if !current_user -->

      <!-- render 'layouts/sign_in_message' -->

    <!-- else -->
      <div class="wrap_section_narrow_wc" style="background-color: none">
        <div class="spacer">
        </div>
      </div>
      <div class="wrap_section_narrow" data-ng-controller="GroupsCtrl" data-ng-init="index()">
        <div data-ng-repeat="group in groups">
          <div group-table></div>
        </div>
      </div>
    <!-- end -->

  <div page-footer></div>
</div>
