<div data-role="page" id="encounters_index" data-url="encounters" tabindex="0">

  <% content_for :header_title, 'Groups' %>
  <%= render 'layouts/header' %>
  <%= render 'layouts/flash_messages' %>
   <div class="wrap_section_narrow_wc" style="background-color: none">
        <div class="spacer">
          <%= render 'layouts/nav' %>
        </div>
      </div>


  <%= render 'layouts/footer' %>
</div>
