/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require charges
 *= require custom
 *= require gibson
 *= require scaffolds
 *= require jquery-mobile-bower/css/jquery.mobile-1.4.2.min
 *= require_self
 //= require foundation_and_overrides

 */

@import "gibson";

.button-bar {background-color: #e7e7e7;}

.wrap_section_narrow_top {
  height: 145px;
  max-width: 620px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
  margin: 0px auto 0 auto;
  background-color: #f3f3f4;
  font-size: 36px;
  line-height: 43px;
  font-family: 'GibsonLight', Verdana, sans-serif;
  color: #221f1f;
}
.fullwidth_footer {
  margin-top: 5em;
  text-align: center;
  width: 100%;
  background-color: #ddd;
}
.wrap_section_narrow_top {
  height: 145px;
  max-width: 620px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
  margin: 0px auto 0 auto;
  background-color: #ffffff;
  font-size: 36px;
  line-height: 43px;
  font-family: 'GibsonLight', Verdana, sans-serif;
  color: #221f1f;
}

.fullwidth {
  background-color: #ffffff;
  width: 100%;
  border-bottom: 1px solid #d3d3d3;

  .header_title {color:#65acd3}
  .wrap_section_narrow_top {
    height: 175px;
    max-width: 620px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    margin: 0px auto 0 auto;
    background-color: #ffffff;
    font-size: 36px;
    line-height: 43px;
    font-family: 'GibsonLight', Verdana, sans-serif;
    color: #221f1f;
  }
}
