<footer class="fullwidth_footer">
  <h4>Encounter Counter &copy; {{currentYear | date: 'yyyy'}}</h4>
<a href="mailto:the.encounter.counter@gmail.com?body=Please%20share%20any%20feedback%20for%20this%20app%21%20%20You%20might%20want%20to%20report%20unexpected%20behavior%2C%20errors%2C%20display%20problems%2C%20navigation%20problems%2C%20confusing%20information%2C%20desired%20features%2C%20or%20any%20other%20topic.%20Be%20as%20brief%20or%20elaborate%20as%20you%20wish.%0A%0ADuplicate%20feedback%20is%20welcome%3B%20it%20helps%20with%20prioritization.&amp;subject=Feedback">Contact Us</a>
</footer>
