<div class="button-bar">
  <ul class="button-group">
    <li class="small button secondary" data-ng-click="setTab('Index')">
      <a href>All Encounters</a>
    </li>

    <li class="small button secondary" data-ng-click="setTab('New')">
      <a href>Add Encounters</a>
    </li>

    <li class="small button secondary" data-ng-click="setTab('Summary')">
      <a href="">Summary</a>
    </li>

    <li class="small button secondary">
      <a href="/api/v1/encounters.xls">Download as Excel</a>
    </li>

    <li class="small button secondary">
      <a href="">Sign Out</a>
    </li>

    <li class="small button secondary">
      <a href="">Edit account</a>
    </li>
  </ul>
</div>
