<div id="encounters_index" data-ng-init="index()">
  <div page-header title="Encounters"></div>
  <!-- render 'layouts/flash_messages' -->

    <!-- if !current_user -->

      <!-- render 'layouts/sign_in_message' -->

    <!-- else -->
      <div class="wrap_section_narrow_wc" style="background-color: none">
        <div class="spacer">
          <div page-nav></div>
        </div>
      </div>

      <div class="wrap_section_narrow">
      <table id="encounter_encounters_table" >
        <thead>
          <tr class="fullwidth">
            <th>Resident</th>
            <th>Type</th>
            <th>Encountered</th>
            <th>Submitted</th>
          </tr>
        </thead>

        <tbody data-ng-repeat="encounter in encounters">
          <tr class="lineitem_index fullwidth">
            <td>{{encounter.user.name}}</th>
            <td><a href="">{{encounter.encounter_type}}</a></td>
            <td>{{encounter.encountered_on}}</td>
            <td>{{encounter.submitted_on| date : 'short'}}</td>
          </tr>
        </tbody>
      </table>
      </div>
    <!-- end -->

  <div class="form-block">
  </div>
  <div page-footer></div>
</div>
