<div id="encounters_index" data-ng-init="index()">
  <div page-header title="Encounters"></div>
  <!-- render 'layouts/flash_messages' -->

    <!-- if !current_user -->

      <!-- render 'layouts/sign_in_message' -->

    <!-- else -->
      <div class="wrap_section_narrow" style="background-color: none">
        <div class="spacer">
          <div page-nav></div>
        </div>
      </div>
      <div data-ng-init="setTab('Index')">
        <div encounters-index data-ng-show="currentTabIs('Index')"></div>
        <div encounters-new data-ng-show="currentTabIs('New')"></div>
        <div encounters-summary data-ng-show="currentTabIs('Summary')"></div>
      </div>
    <!-- end -->

  <div class="form-block">
  </div>
  <div page-footer></div>
</div>
