<form>
    <div class="wrap_section_narrow"></div>
    <div class="wrap_section_narrow">
      <div class="spacer">
        <input type="date" data-ng-model="newEncounters.encountered_on">
      </div>
    </div>

    <div class="wrap_section_narrow">
      <div encounter-types></div>

      <div class="form-block">
         <!-- render partial: 'form', locals: {encounter_types: encounter_types} -->
      </div>
    </div>
    <div class="wrap_section_narrow" style="background-color: none">
      <div id="buttonsLine"class="row">
         <!-- submit_tag('Reset', class: 'resetBtnMid blockFloat', onclick: "resetEncounters()")  -->
        <div id="totalEncountersBlock">
          <div id="total" class="totalnumber blockFloat">0</div>
        </div>
      </div>
    </div>
  <div class="spacer">
  </div>
  <div class="wrap_section_narrow_wc" style="background-color: none">
    <div class="spacer">
       <!-- render 'layouts/nav' -->
    </div>
  </div>
  <!-- end -->
</form>
