<div class="spacer"></div>
<div class="wrap_section_narrow">
  <table id="encounter_encounters_table" class="ui-responsive">
    <thead>
      <tr class="fullwidth">
        <th>Resident</th>
        <th>Type</th>
        <th>Total</th>
      </tr>
    </thead>

    <tbody data-ng-repeat="user in groupUsers">
      <tr data-ng-repeat="label in displayLabels" class="lineitem fullwidth">
        <td>{{$first ? user.name : ''}}</td>
        <td>{{label}}</td>
        <td>{{((encounters | filter:user.name:true) | filter:(label | serverTypes):true).length}}</td>
      </tr>
    </tbody>
  </table>
</div>
