<div data-ng-repeat="label in displayLabels" data-ng-controller="TypeCtrl">
  <div class="{{$first ? 'lineitem_end' : 'lineitem'}}">
    <div class="linelabel blockFloat">
      <strong>{{label | firstWord}}:</strong>
      {{label | lastWords}}
    </div>
    <a href="" data-ng-click="addEncounterType(label); setTypeHasItems()">
      <div  class="linenumber blockFloatRight"
            id="{{to_param(label)}}"
            ng-class="{gradient_light: !has_items, gradient_blue: has_items}">
        {{newEncounters['encounter_types'][to_param(label)]}}
      </div>
    </a>
  </div>
</div>
