
<footer class="fullwidth_footer">
  <h4>Encounter Counter &copy; <%= Time.now.year %></h4>
  <%= mail_to 'the.encounter.counter@gmail.com', 'Feedback', subject: 'Feedback',
              body: "Please share any feedback for this app!  You might want to report unexpected behavior, errors, display problems, navigation problems, confusing information, desired features, or any other topic. Be as brief or elaborate as you wish.\n\nDuplicate feedback is welcome; it helps with prioritization." %>

</footer>
