
  <div class="row">
    <div class="large-12 columns">
     <h2> You must
      <%= link_to 'sign in', new_user_session_path, data: {transition: 'flip'} %>
      to view this page.
     </h2>
  </div>
</div>
